<div id="filterrific_results">
<table>
    <tr>
      <th>Section</th>
    </tr>
    <% products.each do |product| %>
      <tr>
        <td><%= product.product_name %></td>
      </tr>
    <% end %>
  </table>
</div>

